blockquote p {
	background: url(../images/q1.png) top left no-repeat;
	padding-left: 100px;
	width: 80%;
}
cite {
	margin-top: 3em;
	font-size: 0.5em;
	color: #555;
	float: right;
}
div.step.not(.active) .fadeout {
    opacity: 1;
}
div.step.not(.active) .fadein {
    opacity: 0;
}
div.step.hideinactive .fadein {
    opacity: 0;
}
div.step h1 {
	font-size: 2em;
}
div.step.active .fadeout {
    opacity: 0.1;
	-webkit-transition: opacity 2s;
	-moz-transition:    opacity 2s;
	-ms-transition:     opacity 2s;
	-o-transition:      opacity 2s;
	transition:         opacity 2s;
}
div.step.active .fadein {
    opacity: 1;
	-webkit-transition: opacity 2s;
	-moz-transition:    opacity 2s;
	-ms-transition:     opacity 2s;
	-o-transition:      opacity 2s;
	transition:         opacity 2s;
}
span.large {
	font-size: 1.5em;
}
span.normal {
	font-size: 0.8em;
}
span.small {
	font-size: 0.5em;
}
div.step {
	text-align: center;
}
div.step.hideinactive:not(.active) {
	opacity: 0;
}

